---
layout: default
title: Wills Blog Posts
---
<section id="blog" class="projects-section bg-white">
  <div class="container">
     <!-- Featured Project Row-->
     <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="\images\WilliamEastbury1_2017_square.jpg" alt="">
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>My Blog posts</h4>
          <p class="text-black-50 mb-0">My generally random comments and musings. My views are my own.</p>
        </div>
      </div>
    </div>
    {% for post in site.posts %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'even' %}
    <!-- Pattern One Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">{{ post.title }}</h4>
                        <p class="mb-0 text-white-50"> {{patt.excerpt}}</p>
                        <a href="{{post.url}}"><i class="fab fa-blog"></i>Read it!</a>
                        <hr class="d-none d-lg-block mb-0 ml-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
  <!-- Project Two Row-->
  <div class="row justify-content-center no-gutters">
  <div class="col-lg-6 order-lg-first">
      <div class="bg-white text-center h-100 project">
          <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-black">{{ post.title }}</h4>
                <p class="mb-0 text-black-50"> {{patt.excerpt}}</p>
                <a href="{{post.url}}"><i class="fab fa-blog"></i>Read it!</a>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
          </div>
      </div>
  </div>
</div>
{% endif %}
{% endfor %}
</div>
</section>