---
layout: default
title: Cloud Patterns
---
<section id="patterns" class="projects-section bg-white">
  <div class="container">
    <!-- Featured Project Row-->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="https://docs.microsoft.com/en-us/azure/architecture/patterns/_images/geode-dist.png" alt="">
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Projects</h4>
          <p class="text-black-50 mb-0">Links to the Azure Architecture centre and the different re-usable
            design patterns that I've captured (along with colleagues) and documented for you to use.</p>
        </div>
      </div>
    </div>
    {% for patt in site.data.designpatterns %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'even' %}
    <!-- Pattern One Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">{{ patt.projectname }}</h4>
                        <p class="mb-0 text-white-50"> {{patt.description}}</p>
                        <a href="{{patt.docslink}}"><i class="fab fa-microsoft"></i> {{patt.projectname}}</a>
                        <hr class="d-none d-lg-block mb-0 ml-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
 <!-- Project Two Row-->
 <div class="row justify-content-center no-gutters">
  <div class="col-lg-6 order-lg-first">
      <div class="bg-white text-center h-100 project">
          <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-black">{{ patt.projectname }}</h4>
                  <p class="mb-0 text-black-50">{{ patt.description }}</p>
                  <a href="{{patt.docslink}}"><i class="fab fa-microsoft"></i> Microsoft Docs Link</a>
                  <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
          </div>
      </div>
  </div>
</div>
{% endif %}
{% endfor %}
  </div>
</section>