---
layout: default
title: My Projects
---
<section id="projects" class="projects-section bg-white">
  <div class="container">
    <!-- Featured Project Row-->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="images\arcadecab.png" alt="">
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Projects</h4>
          <p class="text-black-50 mb-0">A random selection of both code and real-world projects that I've either
            contributed to, or created.</p>
        </div>
      </div>
    </div>
    {% for project in site.data.projects %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'even' %}
    <!-- Project One Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">{{project.projectname}}</h4>
              <p class="mb-0 text-white-50">{{ project.description }}</p>
              <a href="{{project.githublink}}"> <i class="fab fa-github"></i> Github Link</a>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <!-- Project Two Row-->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6 order-lg-first">
        <div class="bg-white text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-black">{{project.projectname}}</h4>
              <p class="mb-0 text-black-50">{{ project.description }}</p>
              <a href="{{project.githublink}}"><i class="fab fa-github"></i> Github Link</a>
              <hr class="d-none d-lg-block mb-0 mr-0">
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>